# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Testing
*.test
*.tmp

# Dependency directories
/vendor/

# Environment files
.env
.env*
!.env.example

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db
